body {
  background-color: #d9cfd2;
}

.main {
  display: flex;
  justify-content: center;
}

.background {
  height: 320px;
  width: 320px;
  overflow: hidden;
  position: relative;
}

.computer {
  border: 8px solid #989898;
  border-radius: 5px;
  height: 160px;
  width: 230px;
  left: 35px;
  bottom: 90px;
  position: absolute;
  overflow: hidden;
}
.computer__screen {
  background-color: #5a2f84;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.computer__scrolling-code {
  position: absolute;
  top: 0;
  animation: infinite-scroll 5s linear infinite;
}

@keyframes infinite-scroll {
  100% {
    top: -80px;
  }
}
.code {
  position: relative;
  height: 5px;
  border-radius: 5px;
  width: 130px;
  background-color: white;
  margin: 0 5px 5px;
}
.code--green {
  background-color: #c3e88d;
}
.code--yellow {
  background-color: #efbf67;
  width: 70px;
}
.code--blue {
  background-color: #89ddff;
  width: 100px;
}
.code--red {
  background-color: #ff5874;
  width: 60px;
}

.girl {
  position: absolute;
  right: 20px;
  bottom: 0;
  height: 180px;
  width: 90px;
}
.girl__head {
  position: relative;
  margin: 0 auto;
  width: 60px;
  height: 70px;
  background: #EFC2A0;
  border-radius: 100%;
}
.girl__head--hair {
  position: absolute;
  top: -3px;
  left: 25px;
  background: #3a1900;
  width: 70px;
  height: 160px;
  border-top-left-radius: 0%;
  border-top-right-radius: 85%;
  border-bottom-left-radius: 75%;
  border-bottom-right-radius: 10%;
  z-index: 2;
}
.girl__head--fringe {
  background: #3a1900;
  width: 49px;
  height: 70px;
  border-radius: 72px 17px/67px 10px 10px;
  position: absolute;
  top: -12px;
  left: 13px;
  transform: rotate(-30deg) scaleX(-1);
  z-index: 80;
}
.girl__body {
  position: relative;
  margin: 0 auto;
  width: 70px;
  height: 120px;
  background: #964d64;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}